version: '3.9'

services:
  db:
    image: pgvector/pgvector:pg18-trixie
    container_name: postgres_docker
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: lmf
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    container_name: django_app
    command: >
      sh -c "
        echo 'Waiting for DB to be ready...';
        until pg_isready -h db -U postgres; do sleep 1; done;
        echo 'Creating pgvector extension...';
        PGPASSWORD=postgres psql -h db -U postgres -d lmf -c 'CREATE EXTENSION IF NOT EXISTS vector;';
        echo 'Starting Django...';
        gunicorn lmforge.wsgi:application --bind 0.0.0.0:8000
      "
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DATABASE_NAME=lmf
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=postgres
      - DATABASE_HOST=db
      - DATABASE_PORT=5432

volumes:
  postgres_data:
